@model HarrisContactWeb.Models.PersonalContact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAddr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactAddr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactAddr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactAddr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonalContactID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
